			p.ft1
		{
			text-align: center; color: #A0522D; font: bold Georgia,serif;
		}
			p.ft2
		{
			text-align: center; color: #FAF0E6; font:bold 25px Monospace;
		}
			p.ft3
		{
			text-align: center; color: #FF7F50;
		}
			p.ft4
		{
			text-align: center;
		}
			p.ft5
		{
			text-align: left; color: #FF7F50; font: bold 15px Monospace;
		}		
			p.ft6
		{
			text-align: center; color: #FFD700; font: bold 20px Monospace;
		}
			p.ft7
		{
			text-align: center; color: #A0522D; font: bold 25px Monospace;
		}
			p.ft8
		{
			text-align: center; color: black;
		}
			p.ft9
		{
			text-align: center;
		}		
			p.ft10
		{
			text-align: left;
		}
			p.ft11
		{
			text-align: right;
		}	
		.cal {table-layout: fixed;
		}
		
			body {
				background-image: url("bk2.gif");/* https://www.w3schools.com/cssref/pr_background-image.asp */
				font-family: Georgia;
			}
			.center{
			display: block;
			margin-left: auto;
			margin-right: auto;
			}
			div.box {/* https://www.w3schools.com/css/css_boxmodel.asp */
    			width: 350px;
    			padding: 30px;    
    			border: 2px solid red;
    			margin: 0 auto;
			}
			#textboxid
			{
    			height:200px;
    			font-size:14pt;
			}
			
		